name: Cypress Tests

on:
  push
  # schedule:
  #   - cron: '0 1 * * 1-5'
  #   - cron: '0 9 * * 1-5'

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    env:
      CYPRESS_TOKEN: ${{ vars.CYPRESS_TOKEN }}
      STAGING_URL: ${{ vars.STAGING_URL }}
      STAGING_ADMIN_URL: ${{ vars.STAGING_ADMIN_URL }}
      EMAIL_VALID: ${{ vars.EMAIL_VALID }}
      PASS_VALID: ${{ vars.PASS_VALID }}
      EMAIL_NOT_VALID: ${{ vars.EMAIL_NOT_VALID }}
      EMAIL_NOT_REGISTER: ${{ vars.EMAIL_NOT_REGISTER }}
      PASS_NOT_VALID: ${{ vars.PASS_NOT_VALID }}
      EMAIL_ADMIN: ${{ vars.EMAIL_ADMIN }}
      PASS_ADMIN: ${{ vars.PASS_ADMIN }}
      BASE_API_STAGING: ${{ vars.BASE_API_STAGING }}
      PEM_KEY: ${{ vars.PEM_KEY }}
    environment:
      name: TurnkeyID
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cypress Run Script
        uses: cypress-io/github-action@v5
        with:
          build: npm install
          browser: chrome
          record: true
          parallel: true
          command: npx cypress run --env STAGING_URL=${{env.STAGING_URL}},STAGING_ADMIN_URL=${{env.STAGING_ADMIN_URL}},EMAIL_VALID=${{env.EMAIL_VALID}},PASS_VALID=${{env.PASS_VALID}},EMAIL_NOT_VALID=${{env.EMAIL_NOT_VALID}},EMAIL_NOT_REGISTER=${{env.EMAIL_NOT_REGISTER}},PASS_NOT_VALID=${{env.PASS_NOT_VALID}},EMAIL_ADMIN=${{env.EMAIL_ADMIN}},PASS_ADMIN=${{env.PASS_ADMIN}},BASE_API_STAGING=${{ vars.BASE_API_STAGING }},PEM_KEY=${{ vars.PEM_KEY }}

      - name: Copy test execution videos
        if: always()
        run: |
          mkdir public
          cp -r cypress/videos public/videos

      - name: Merge test results into one
        if: always()
        run: npm run report:merge

      - name: Generate HTML report
        if: always()
        run: npm run report:generate

      - name: Deploy report page
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          user_name: ${{ env.GIT_USER }}
          user_email: ${{ env.GIT_EMAIL }}
